html {
        overflow-x: hidden;
} 
#table_result {
	width: 100%;
	border: 0px;
	overflow: auto;
}

div.container {
    width: 100%; 
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    margin: 5px;
}

/* footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
 */
nav {
    float: left;
    border-right: 1px solid gray;
    max-width: 180px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

nav #listbox{
	font-size:10px;
}
article {
    margin-left: 200px;
    padding: 1em;
    display: none;
    /* overflow: hidden; */
	
}

article table, th, td 
    {
         margin:10px 0;
         border:solid 1px #333;
         padding:2px 4px;
         font:15px Verdana;
     }
	th {
	     font-weight:bold;
	     background-color: #9ccece;
     }
